@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-light text-dark;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

video {
  z-index: -1;
}
